config LSM6DSV16X
	bool "Support for LSM6DSV16X sensor library"
	help
	  This option enables the LSM6DSV16X library.

config LSM6DSV16X_CALIBRATION_SETTLING_TIME
	int "Calibration settling time in seconds"
	default 5
	help
	  In order to measure gyroscope bias, it is best to let the sensor rest to let the values settle on startup.
	  This option configures the time in seconds between the start of the sensor, and the first gyroscope bias measurement.

if LSM6DSV16X

config SPI
	default y

config GPIO
	default y

config LSM6DSV16X_SAMPLES_TO_DISCARD
	int "Nb of samples to discard at the start of a session"
	default 5

endif # LSM6DSV16X

module = LSM6DSV16X
module-str = LSM6DSV16X
source "subsys/logging/Kconfig.template.log_config"
