# editors
.vscode
*.swp
*~

# python
.venv

# build
/build*
/twister-out*

__pycache__/

# docs
/doc/_build*

# Edge Impulse library
/app/src/edge-impulse/*.zip
# Specify Edge Impulse project key in this file
/app/secrets.cmake