# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config IDLE_STATE_TIMEOUT
	int "Time before SLEEP event in seconds."
	default 60

config CHECK_SESSION_DATA_DURING
	bool "Check that session data is correctly written during recording"
	default y

config CHECK_SESSION_DATA_AFTER
	bool "Check that session data is not corrupted at the end of a session"
	default y
