&p25q16h {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		data_partition: partition@0 {
			label = "data";
			reg = <0x00000000 0x00200000>;
		};
	};
};

/ {
	chosen {
		nordic,pm-ext-flash = &p25q16h;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "Red PWM LED";
		};
		pwm_led1: pwm_led_1 {
            pwms = <&pwm0 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "Green PWM LED";
        };
        pwm_led2: pwm_led_2 {
            pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "Blue PWM LED";
        };
	};

	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&data_partition>;
		disk-name = "NAND";
		cache-size = <4096>;
	};

	gpin {
		compatible = "gpio-keys";

		imu_int1: imu_int1 {
			label = "IMU interrupt 1 pin";
			gpios = <&xiao_d 0 GPIO_ACTIVE_HIGH>;
		};

		imu_int2: imu_int2 {
			label = "IMU interrupt 2 pin";
			gpios = <&xiao_d 1 GPIO_ACTIVE_HIGH>;
		};

		charging: charging {
			gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
			label = "Charging";
		};
	};

	vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc 7>;
		output-ohms = <510000>;
		full-ohms = <1510000>;
		power-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
	};

	aliases {
		imu = &lsm6dsv16x;
		imuint1 = &imu_int1;
		imuint2 = &imu_int2;
		charging = &charging;
		pwm-led0 = &pwm_led0;
		pwm-led1 = &pwm_led1;
		pwm-led2 = &pwm_led2;
	};
};

&xiao_i2c {
	clock-frequency = <I2C_BITRATE_FAST>;
	lsm6dsv16x: lsm6dsv16x@6b {
		status = "okay";
		compatible = "zephyr,lsm6dsv16x";
		reg = <0x6b>;
	};
};
