name: Build and test app in NCS docker container

on:
  pull_request:

jobs:
  build-and-test-in-docker:
    runs-on: ubuntu-22.04
    container: ghcr.io/nrfconnect/sdk-nrf-toolchain:v2.7.0
    defaults:
      run:
        # Bash shell is needed to set toolchain related environment variables in docker container
        # It is a workaround for GitHub Actions limitation https://github.com/actions/runner/issues/1964
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: xiao-ble-lsm6dsv16x.git

      - name: Prepare west project
        run: |
          west init -l xiao-ble-lsm6dsv16x.git
          west update -o=--depth=1 -n
          pip install adafruit-nrfutil

      - name: Build firmware
        working-directory: xiao-ble-lsm6dsv16x.git
        env:
          EI_API_KEY: ${{ secrets.EI_API_KEY }}
        run: |
          west build -b nicoco app --no-sysbuild -- -DEI_API_KEY_HEADER="x-api-key:$EI_API_KEY"
          west prepare-dfu

      - name: Store hex files
        uses: actions/upload-artifact@v4
        with:
          name: built-applications
          path: |
            xiao-ble-lsm6dsv16x.git/build/zephyr/zephyr.uf2
            xiao-ble-lsm6dsv16x.git/build/zephyr/zephyr.hex
            xiao-ble-lsm6dsv16x.git/build/zephyr/zephyr.dat

      - name: Twister Tests
        working-directory: xiao-ble-lsm6dsv16x.git
        run: |
          west twister -T tests -v --inline-logs --integration
